/* dotted
dashed
solid
double
groove
ridge
inset
outset
none
hidden
mix */

.border-1 {
    padding: 2px 5px 21px 27px;
    border: 5px solid #996;
    width: 30%;
    line-height: 35px;
    transition: border-color 0.5s ease-in-out;
}
.border-1:hover{
    border-color: red;
}

.border-2 {
    padding: 2px 5px 21px 27px;
    border: 5px solid #996;
    width: 30%;
    line-height: 35px;
    margin-right: 3px;
}


.border-3 {
    padding: 2px 5px 21px 27px;
   border-top: 5px dashed #996;
   border-left: 5px ridge #996;
   border-right: 5px double #996;
   border-bottom: 5px solid #996;
    width: 30%;
    line-height: 35px;
    margin-right: 3px;
}


/* Border-bottom */

.border-4{
    padding: 2px 5px 21px 27px;
    border: 5px solid #996;
    width: 50%;
    line-height: 35px;
    margin-right: 3px;
}


.border-5{
    padding: 2px 5px 21px 27px;
     width: 50%;
    line-height: 35px;
    margin-right: 3px;
    border-bottom: 4mm ridge rgba(211, 220, 50, .6);
}

.border-6 {
    padding: 2px 5px 21px 27px;
    border: 5px solid #996;
    border-bottom: 5px ridge red;  
    width: 50%;
    line-height: 35px;
    margin-right: 3px;
}
